<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Vue template</title>

  <link rel="stylesheet" href="css/style1.css">

</head>

<body>

    <div id="app">
        <h2>{{ productName }} are in stock.</h2>
        <ul>
            <li v-for="player in players">
                {{ player }}
            </li>
        </ul>

        <ul>
            <li v-for="product in products">
                {{ product.quantity }} {{ product.name }}
                <span v-if="product.quantity === 0">
                    - OUT OF STOCK
                </span>
            </li>
        </ul>
        <h2>Total Inventory: {{ totalProducts }}</h2>

    </div>


    <script src="https://unpkg.com/vue"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                productName: 'Yellow',
                players: [
                    'Boots',
                    'Jacket',
                    'Hiking socks'
                    ],
                products: []
            },
            computed: {
                totalProducts () {
                    return this.products.reduce((sum, product) => {
                        return sum + product.quantity
                    }, 0)
                }
            },
            created () {
                fetch('https://api.myjson.com/bins/74l63').then(response => response.json()).then(json => {
                    this.products = json.products
                })
            }
        })
    </script>

    <!-- <script src="js/scripts.js"></script> -->
</body>
</html>